// TYPOGRAPHY
$default-font-family: 'Dosis', sans-serif;
$default-font-weight: 800;

// COLORS
$highlights: white;
$dark-content: #FF7F00;
$light-content: #FFB063;
$light-background: #79E6FF;
$window-background: #03CFFF;
