.main-menu {
  position: absolute;
  top: 5vh;
  left: 50%;
  width: 950px;
  height: auto;
  z-index: 98;
  margin: 0 -475px;
  background-color: $light-background;
  border: 10px solid $highlights;
  color: $highlights;
  border-radius: 75px;
  font-family: $default-font-family;

  .chevron {
    margin: 240px 15px;
    display: inline-block;
    font-size: 75px;

    &.chevron-left {
      float: left;
    }

    &.chevron-right {
      float: right;
    }
  }

  .piece-select {
    width: 700px;
    margin: 0 10px;
    display: inline-block;
  }

  .piece-selection {
    margin: 3% auto;
    padding: 3%;
    background-color: $window-background;
    border: 10px solid $window-background;
    border-radius: 50px;
    display: flex;
    justify-content: space-between;
    font-size: 32px;
    text-align: center;

    &.selected {
      background-color: $dark-content;
      border-color: $highlights;
    }

    &:hover {
      border-color: $highlights;
    }

    .composer {
      flex-basis: 15%;
    }

    .title {
      flex-basis: 75%;
      margin-left: 5%;
    }

    .difficulty {
      flex-basis: 10%;
    }

    .small-text {
      font-weight: 400;
    }
  }
}

.start-button {
  position: absolute;
  width: 500px;
  height: 200px;
  top: 65vh;
  left: 50%;
  margin-left: -250px;
  background-color: $dark-content;
  z-index: 50;
  text-align: center;
  font-family: $default-font-family;
  border-radius: 75px;
  font-size: 120px;
  color: $highlights;
  border: 10px solid $light-content;
}
